@page
@model NoHotReloadWithServiceWorker.Pages.IframeTestModel
@{
	ViewData["Title"] = "Iframe Test";
}

<p>
	YYYYYYYYY
</p>

Let's do na <code>
&lt;iframe&gt;&lt;/iframe&gt;
</code> test
<br /><br />
<iframe src="https://localhost:7105/Privacy" width="640" height="480" frameborder="1" style="border: solid blue"></iframe>
